<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer</h1>
    
    <form action="" method="post">
      <p>Text: <input type="text" name="text"></p>
      <p><input type="submit" name="submit"></p>
    </form>
  
  </body>
</html>